{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="{{url_for('static', filename='beetrack2.png')}}" alt="" width="82" height="72">
    <h2>Configura tu llave API</h2>
    <p class="lead">Bienvenido <b>{{ shop }}</b></p>
    <p class="lead">Para consigurar tu llave API debes ....</p>
  </div>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <form action= '/configuration' method= 'POST'>
        <div class="form-group">
          <label for="APIKeyLabel">Confirma tu llave API de Beetrack</label>
        <p><input type="text" class="form-control" name='api_key' id="api_key" aria-describedby="emailHelp"></p> 
        </div>
        <p><button type="submit" class="btn btn-warning">Enviar</button></p> 
      </form>
{% endblock %}