{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<p>Welcome <b>{{ shop }}</b></p>
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <form action= '/configuration' method= 'POST'>
        <div class="form-group">
          <label for="APIKeyLabel">Confirma tu llave API de Beetrack</label>
        <p><input type="text" class="form-control" name='api_key' id="api_key" aria-describedby="emailHelp"></p> 
        </div>
        <p><button type="submit" class="btn btn-warning">Enviar</button></p> 
      </form>
{% endblock %}