{% extends 'base.html' %}

{% block head %} 
<title>Beetrack</title>
{% endblock %}

{% block body %}
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>¡Bienvinido a Beetrack!</h1>
            <p>Gracias por descargarte la App Beetrack Shopify. Con esta App podras carga de forma automatica tus ordenes en tu cuenta Beetrack, 
                gestionarlas de forma fácil y sencilla, y adicionalmente podras ver el estado de dichas acciones dentro de tu cuenta de Shopify.</p>
            <p>Para continuar con la conección es necesario contar con una cuenta Beetrack creada previamente. Para conseguir tu cuenta dirigete a 
                <a href="https://www.beetrack.com/es//">Beetrack.com</a>.
            </p>
            <p>
                Si cuentas ya con tu cuenta de Beetrack, has click en conectar para continuar con la conexión.
            </p>
            <p>
                <a class="btn btn-primary" href="http://localhost:5000/connected" role="button">Conectar a Beetrack
                    &raquo;</a>
            </p>
        </div>
    </div
{% endblock %} 